<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'pompe/w3.css' %}">
    <link rel="stylesheet" href="{% static 'pompe/css/font-awesome.min.css' %}">
    <title>{% block title %}Visiopompe v1.0{% endblock%}</title>
</head>

<body>
    <!-----navbar---->
{% include 'pompe/navbar.html' %}
    <!----contenu---->
{% block content %}

{% endblock %}
</body>
</html>