{% extends 'pompe/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="w3-main w3-mobile" style="margin-left:200px">
    <div class="w3-container w3-dark-grey">
        <h2>Dashboard</h2>
    </div>
    <br/>
<div class="w3-container w3-padding-12">
    <section>
            <div class="w3-row-padding">
                <div class="w3-col m3 s3">
                    <div class="w3-card-2 w3-center w3-text-blue-gray">
                            <header class="w3-container w3-green">
                                <h4>EN SERVICES</h4>
                            </header>
                            <div class="w3-container w3-xlarge">
                                <p><strong>{{p_valide}}</strong></p>
                            </div>
                        </div>
                </div>
                <div class="w3-col m3 s3">
                        <div class="w3-card-2 w3-center w3-text-blue-gray">
                            <header class="w3-container w3-red">
                                <h4>EN PANNES</h4>
                            </header>
                            <div class="w3-container w3-xlarge">
                                <p><strong>{{p_hs}}</strong></p>
                            </div>
                        </div>
                </div>
                <div class="w3-col m3 s3">
                    <div class="w3-card-2 w3-center w3-text-blue-gray">
                        <header class="w3-container w3-blue">
                            <h4>EN REPARATIONS</h4>
                        </header>
                        <div class="w3-container w3-xlarge">
                            <p><strong>{{p_rep}}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="w3-col m3 s3">
                    <div class="w3-card-2 w3-center w3-text-blue-gray">
                        <header class="w3-container w3-amber">
                            <h4>EN STOCKS</h4>
                        </header>
                        <div class="w3-container w3-xlarge">
                            <p><strong>{{p_stock}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
           <br />
            <div class="w3-row-padding">
                <div class="w3-col m3 s3">
                    <div class="w3-card-2 w3-center w3-text-blue-gray">
                        <header class="w3-container w3-pale-red">
                            <h4>POMPES TOTAL ATEX</h4>
                        </header>
                        <div class="w3-container w3-xlarge">
                            <p><strong>{{p_atex}}</strong></p>
                        </div>
                    </div>
                </div>
                <!---- Pour ajouter un nouvel encart, à recopier.--->
                    <!--- code : 
                    <div class="w3-card-2 w3-center w3-text-blue-gray">
                        <header class="w3-container w3-amber">
                            <h4>TITRE DE L'ENCART</h4>
                        </header>
                        <div class="w3-container w3-xlarge">
                            <p><strong>{{variable}}</strong></p>
                        </div>
                    </div>
                    ---->
            </div>
    </section>
</div>
<!----citation---->
    <section class="w3-container w3-mobile">
            <div class="w3-panel w3-leftbar w3-display-container">
                <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">x</span>
                <p><i class="fa fa-quote-right "></i></p>
                <p><i class="w3-serif w3-large">“Il faut pomper pour vivre et donc vivre pour pomper.”</i></p>
                <p align="left">Jacques Rouxel / Les Shadoks </p>
            </div>
    </section>
</div>
{% endblock %}
