
{% load static %}
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'pompe/w3.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Formulaire de suppression</title>

</head>
<body>

<!----menu--->
{% include 'pompe/navbar.html' %}

<!---------Contenu------->


<div class="w3-main w3-mobile" style="margin-left:200px">
    <div class="w3-container w3-dark-grey">
                <h2><br /></h2>
    </div>
    <div class="w3-modal-content" >
            <div class="w3-center"><br>
                <p>Vous êtes sur le point de supprimer : <strong>{{item}}</strong>. <br />Etes-vous sur de vouloir le faire ?</p>
                <form method="POST">
                    {% csrf_token %}
                    <button class="w3-button w3-red"><a href="{% url 'pompe:homepage' %}">Annuler</a></button>
                    <button class="w3-button w3-green" type="submit">Confirmer</button>
                </form>
            </div>
    </div>
</div>
</body>
</html>