{% load static %}
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'pompe/w3.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Documentations Technique</title>
</head>
<body>
<!----menu--->
{% include 'pompe/navbar.html' %}

<!---------Contenu------->

<div class="w3-main w3-mobile " style="margin-left:200px">
    <div class="w3-container w3-dark-grey">
        <h2>Documentations Technique</h2>
    </div>
    <br/>
    <section>

        <table class="w3-table-all w3-centered w3-striped " style="margin-left:10px">
            <tr>

            </tr>
            <tr class="W3-green w3-text-black ">
                <th> <p>Fabriquant</p></th>
                <th>
                   <p>Nom manuel</p>
                </th>
                <th>
                    <p>Version</p>
                </th>
                <th>
                    <p>Télécharger</p>
                </th>
                <th>
                    <p></p>
                </th>
                <th>
                    <p>Modifier</p>
                </th>
                                <th>
                    <p>Supprimer</p>
                </th>
            </tr>
            <tr>
                 {% for doc in docs %}
                <td  >
                   <img src="{{doc.fabriquant.logo_max.url}}" alt="{{doc.fabriquant.nom}}" style="width: 20%; display: block; margin: auto;" />
                </td>
                <td>
                   <p>{{doc.nom}}</p>
                </td>
                <td>
                    <p>{{doc.version}}</p>
                </td>
                <td >
                    <a href="/media/{{doc.manuel}}"><img src="{% static 'pompe/img/option/icons_download.png' %}" alt="picture download"/></a>
                </td>
                <td><p>||</p></td>
                <td><button class="w3-button"><a href="{% url 'pompe:doc_edit' pk=doc.pk %}"><img src="{% static 'pompe/img/option/icons_edit.png' %}" style="width:60%;" /></a></button></td>
                <form method="POST" action="{% url 'pompe:doc_delete' pk=doc.pk %}" onsubmit="return confirm('Etes-vous sur de vouloir effacer cette référence ?')">
                {% csrf_token %}
                    <td><button class="w3-button" type="submit"><img src="{% static 'pompe/img/option/icons_delete.png' %}" style="width:60%;" /></button></td>
                </form>
            </tr>
            {% endfor %}
        </table>
    </section>
<!----citation---->
    <section class="w3-container w3-mobile">
            <div class="w3-panel w3-leftbar w3-display-container">
                <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">x</span>
                <p><i class="fa fa-quote-right "></i></p>
                <p><i class="w3-serif w3-large">“La documentation est comme une assurance-vie: le bénéficiaire n'est presque jamais celui qui l'a signée.”</i></p>
                <p align="left">Alan Jay Perlis</p>
            </div>
    </section>

</div>
</body>
</html>