{% load static %}
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'pompe/w3.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Documentations Technique</title>
</head>
<body>
<!---------side bar------->
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-centered" style="width:200px;" id="mySidebar">
  <button class="w3-bar-item w3-button w3-hide-large"  onclick="w3_close()">Fermer &times;</button>

        <img style="margin: 10px 4px 10px 10px; padding:4px;width:90%" src="{% static 'pompe/img/logo_app.png'%}" alt="logo_appavatar">
        <a href="{% url 'homepage' %}" class="w3-bar-item w3-button w3-mobile w3-red"><i class="fa fa-home"></i> Visiopompe V0.1</a>
        <a href="{% url 'pompe:index' %}" class="w3-bar-item w3-button w3-hover-blue-grey w3-mobile"><i class="fa fa-arrow-right"></i> Pompes</a>
        <a href="{% url 'pompe:pieces' %}" class="w3-bar-item w3-button w3-hover-blue-grey w3-mobile"><i class="fa fa-arrow-right"></i> Pièces détachées</a>
        <a href="{% url 'pompe:huiles' %}" class="w3-bar-item w3-button w3-hover-blue-grey w3-mobile"><i class="fa fa-arrow-right"></i> Huiles</a>
        <a href="{% url 'pompe:kit' %}" class="w3-bar-item w3-button w3-hover-blue-grey w3-mobile"><i class="fa fa-arrow-right"></i> Kits maintenance</a>
        <a href="{% url 'pompe:docs' %}" class="w3-bar-item w3-button w3-hover-blue-grey w3-mobile"><i class="fa fa-arrow-right"></i> Documentations</a>
        <a href="{% url 'pompe:ajout_doc' %}" class="w3-bar-item w3-button w3-hover-blue-grey w3-mobile"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Ajout</a>
        <a href="mailto:nicolas.renard@univ-brest.fr?subject=[Support_Visiopompe]&body=*[Note]Merci d'ajouter une capture d'écran si possible*" class="w3-bar-item w3-button w3-mobile"><i class="fa fa-envelope"></i> Support</a>

</div>

<!---------Contenu------->

<div class="w3-main w3-mobile " style="margin-left:200px">
    <div class="w3-container w3-dark-grey">
        <h2>Documentations Technique</h2>
    </div>

<div class="w3-bar w3-grey">
  <button class="w3-bar-item w3-button tablink w3-red" onclick="openMarque(event,'Adixen')">Adixen</button>
  <button class="w3-bar-item w3-button tablink" onclick="openMarque(event,'Alcatel')">Alcatel</button>
  <button class="w3-bar-item w3-button tablink" onclick="openMarque(event,'Edwards')">Edwards</button>
  <button class="w3-bar-item w3-button tablink" onclick="openMarque(event,'Leybold')">Leybold</button>
  <button class="w3-bar-item w3-button tablink" onclick="openMarque(event,'PfeifferVacuum')">Pfeiffer Vacuum</button>
  <button class="w3-bar-item w3-button tablink" onclick="openMarque(event,'Vacuubrand')">Vaccubrand</button>
  <button class="w3-bar-item w3-button tablink" onclick="openMarque(event,'Welch')">Welch</button>
  <button class="w3-bar-item w3-button tablink" onclick="openMarque(event,'Autres')">Autres</button>
</div>

<script>
function openMarque(evt, marqueName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("marque");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(marqueName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
</script>

    <div class="w3-container marque" id="Edwards">
        <div class="w3-table w3-row-padding w3-responsive w3-centered">
            {%  for docs in docs %}
        {% if docs.fabriquant == 'Edwards' %}

            <p class=" w3-row s2 w3-card-2 ">
                <p class="w3-centered"><img src="{% static 'pompe/img/doc_logo/logo_edwards.png' %}" alt="Edwards" ></p>
                <p class="w3-centered"><strong>{{docs.nom}}</strong></p>
                <p class="w3-centered"> {{docs.informations}}</p>
                <p class="w3-hover-greyscale w3-lime w3-centered"><a href="/media/{{docs.manuel}}" >Télécharger</a></p>
            </p>

            {% endif %}
        {% endfor %}
        </div>
    </div>


    <div class="w3-container  marque" id="Leybold" style="display:none">
       <table class="w3-table w3-bordered w3-hoverable w3-row-padding w3-responsive">
         {%  for docs in docs %}
    {% if docs.fabriquant == 'Leybold' %}

    <tr class="w3-hover-greyscale">

        <td><strong>{{docs.nom}}</strong></td>
        <td>{{docs.informations}}</td>
        <td class="w3-lime w3-centered"><a href="/media/{{docs.manuel}}" >Télécharger</a></td>
    </tr>

    {% endif %}
        {% endfor %}
    </table>
    </div>









    <section class="w3-container w3-mobile">
            <div class="w3-panel w3-leftbar w3-display-container">
                <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">x</span>
                <p><i class="fa fa-quote-right w3-xlarge"></i></p>
                <p><i class="w3-serif w3-xlarge">“La documentation est comme une assurance-vie: le bénéficiaire n'est presque jamais celui qui l'a signée.”</i></p>
                <p align="left">Alan Jay Perlis</p>
            </div>
    </section>

</div>


</body>

</html>