{% extends 'pompe/base.html' %}
{% load static %}

{% block title %}Gestion des fabriquants{% endblock %}
{% block content %}
<div class="w3-main w3-mobile" style="margin-left:200px">
    <div class="w3-container w3-dark-grey">
        <h2>Gestion des fabriquants</h2>
    </div>
    <br />
    <section>
        <table class="w3-table w3-centered w3-mobile" style="margin-left:10px; margin-right:10px;">
            <tr>
                <td>
                    <div class="w3-row-padding">
                        <div class="w3-col ">
                            {% for fabriquant in fabriquants %}
                            <div class="w3-card-2 w3-center w3-text-blue-gray">
                                <header class="w3-container w3-grey">
                                    <h2 >{%if fabriquant.logo_mini%}
                                        <img src="/media/{{fabriquant.logo_mini}}" class="w3-left" style="width:5%; margin-bottom: 10px;" alt="miniature logo"/>
                                        {% endif %}
                                        {{fabriquant.nom}}
                                        <i class="w3-small w3-right"><button class="w3-button w3-right" type="submit"><a href="{% url 'pompe:fabriquant_edit' pk=fabriquant.pk %}">
                                           <img src="{% static 'pompe/img/option/icons_edit.png' %}" style="width:30px;" alt="icon editer"/></a></button>
                                            <form method="POST" action="{% url 'pompe:fabriquant_delete' pk=fabriquant.pk %}" onsubmit="return confirm('Etes-vous sur de vouloir effacer ce fabriquant ?')">
                                            {% csrf_token %}
                                            <button class="w3-button w3-right" type="submit">
                                                <img src="{% static 'pompe/img/option/icons_delete.png' %}" style="width:30px;" alt="icon delete"/></button>
                                            </form>
                                        </i>
                                    </h2>
                                </header>
                                <div class="w3-container" >
                                    {%if fabriquant.adresse%}<p >{{fabriquant.adresse}}</p>{% endif %}
                                    {%if fabriquant.code_postal%}<p>{{fabriquant.code_postal}}{% endif %}
                                   {%if fabriquant.ville%} - {{fabriquant.ville}}</p>{% endif %}
                                </div>
                                <footer>
                                    <p> </p>
                                </footer>
                            </div>
                            {% endfor%}
                        </div>
                    </div>
                </td>
                <td>
                    <div class="w3-row-padding">
                        <div class="w3-col">
                            <div class="w3-card-2 w3-center w3-padding-small">
                                <header class="w3-container w3-brown">
                                    <h4>Ajoutez un fabriquant</h4>
                                </header>
                                <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <table>{{form.as_table}}</table>
                                <button class="w3-button w3-green" type="submit" name="fabriquant_form">Enregistrer</button>
                                <button class="w3-button w3-red"><a href="{% url 'pompe:fabriquant' %}">Annuler</a></button>
                                </form>
                                <br/>
                            </div>
                        </div>
                    </div>
                </td>
            </tr> 
        </table>
    </section>
</div>
{% endblock %}