{% load static %}
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'pompe/w3.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Fabriquants</title>
</head>
<body>
<!----menu--->
{% include 'pompe/navbar.html' %}

<!---------Contenu------->
<div class="w3-main w3-mobile" style="margin-left:200px">
    <div class="w3-container w3-dark-grey">
        <h2>Fabriquants</h2>
    </div>
    <br><br>
    <section>
        <table class="w3-table w3-centered w3-mobile" style="margin-left:10px; margin-right:10px;">
            <th>
                <div class="w3-row-padding">
                    <div class="w3-col">
                        {% for fabriquant in fabriquants %}
                        <div class="w3-card-2 w3-center w3-text-blue-gray">
                            <header class="w3-container w3-grey">
                                <h3>{{fabriquant.nom}}<p class="w3-small w3-tag w3-round w3-right">{{fabriquant.id}}</p>
                                </h3>
                            </header>
                            <div class="w3-container">
                                <p>{{fabriquant.adresse}}</p>
                                <p>{{fabriquant.code_postal}} - {{fabriquant.ville}}</p>
                            </div>
                            <footer>
                                <p> </p>
                            </footer>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </th>
            <th>
                <div class="w3-row-padding">
                    <div class="w3-col">
                        <div class="w3-card-2 w3-center w3-text-blue-gray">
                            <header class="w3-container w3-red">
                                <h4>Formulaires</h4>
                            </header>
                            <div class="w3-container">
                                <p>formulaire d'ajout</p>
                            </div>
                            <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table>{{form}}</table>
                    <button class="w3-button w3-green" type="submit" name="fabriquant_form">Enregistrer</button>
                    <button class="w3-button w3-red"><a href="{% url 'pompe:lieux' %}">Annuler</a></button>
                    <br>
                </form>
                            <div class="w3-container">
                                <p>formulaire modification</p>
                            </div>
                            <div class="w3-container">
                                <p>formulaire de suppression</p>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
        </table>
    </section>
</div>
</body>
</html>