{% extends 'pompe/base.html' %}
{% load static %}

{% block title %}Formulaires{% endblock %}
{% block content %}

<div class="w3-main w3-mobile" style="margin-left:200px">
    <div class="w3-container w3-dark-grey">

        <h2>Formulaire</h2>
    </div>
    <div class="w3-modal-content w3-border w3-padding-16" >
            <div class="w3-center"><br/>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                    {{form.as_table}}
                    </table>
                    <button class="w3-button w3-green">Enregistrer</button>
                    <button class="w3-button w3-red"><a href="{% url 'pompe:pompe' %}">Annuler</a></button>

                </form>

            </div>
    </div>
</div>
{% endblock %}