{% load static %}
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'pompe/w3.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Historique</title>
</head>
<body>
<!----menu--->
{% include 'pompe/navbar.html' %}

<!---------Contenu------->

<div class="w3-main w3-mobile " style="margin-left:200px">
    <div class="w3-container w3-dark-grey">
        <h2>Historique des actions sur la pompe</h2>
    </div>
    <br/>
    <section>
        <table class="w3-table-all w3-centered w3-striped w3-reponsive" style="margin-left:10px;">
            <tr class="w3-green w3-text-black">
                <th><p>Date</p></th>
                <th><p>Historique</p></th>
                <!--<th><p>Utilisateur</p></th>-->
            </tr>
            {% for historique in historic %}
            <tr>
                <td><p>{{historique.date_historique}}</p></td>
                <td><p>{{historique.history}}</p></td>
               <!-- <td><p>...</p></td>-->
            {% endfor %}
            </tr>
        </table>
    </section>
    <br/>
    <a href="{% url 'pompe:pompe' %}" class=" w3-button w3-light-grey w3-padding-16 w3-margin-left">Retour</a>
</div>
</body>
</html>