{% load static %}

<html lang="fr">
<head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'pompe/w3.css' %}">
    <link rel="stylesheet" href="{% static 'pompe/css/font-awesome.min.css' %}">
    <title>Index</title>
</head>
<body>
<div class="w3-main w3-mobile">
    <div class="w3-container w3-dark-grey">
        <h2><img style="margin: 10px 4px 10px 10px ; padding:4px;width:5%" src="{% static 'pompe/img/logo_app.png'%}" alt="logo_appavatar" />Bienvenue sur Visiopompe</h2>
    </div>
    <section class="w3-container w3-padding-32">
        <div class="w3-row-padding">

            <div class="w3-col l3 m5 w3-margin-bottom ">
                <div class="w3-display-container w3-leftbar">
                  <div class="w3-display-topleft w3-black w3-padding">Pompes</div>
                  <a href="{% url 'pompe:pompe' %}"><img src="{% static 'pompe/img/index/pompe2.png' %}" alt="pompes" style="width:100%" /></a>
                </div>
            </div>
            <div class="w3-col l3 m5 w3-margin-bottom ">
                <div class="w3-display-container w3-leftbar ">
                  <div class="w3-display-topleft w3-black w3-padding">Pièces détachées</div>
                  <a href="{% url 'pompe:pdetache' %}"><img src="{% static 'pompe/img/index/piece_detache2.png' %}" alt="pièces détachées" style="width:100%"/></a>
                </div>
            </div>
            <div class="w3-col l3 m5 w3-margin-bottom ">
                <div class="w3-display-container w3-leftbar">
                  <div class="w3-display-topleft w3-black w3-padding">Huiles</div>
                  <a href="{% url 'pompe:huile' %}"><img src="{% static 'pompe/img/index/huile3.png' %}" alt="huile" style="width:100%"/></a>
                </div>
            </div>
            <div class="w3-col l3 m5 w3-margin-bottom">
                <div class="w3-display-container w3-leftbar">
                  <div class="w3-display-topleft w3-black w3-padding">Kits de maintenance</div>
                  <a href="{% url 'pompe:kit' %}"><img src="{% static 'pompe/img/index/kit2.jpg' %}" alt="kit de maintenance" style="width:100%"/></a>
                </div>
            </div>
            <div class="w3-col l3 m5 w3-margin-bottom">
                <div class="w3-display-container w3-leftbar">
                  <div class="w3-display-topleft w3-black w3-padding">Documentations</div>
                  <a href="{% url 'pompe:doc' %}"><img src="{% static 'pompe/img/index/bg_doc.jpg' %}" alt="documentation" style="width:100%"/></a>
                </div>
            </div>
            <div class="w3-col l3 m5 w3-margin-bottom">
                <div class="w3-display-container w3-leftbar">
                  <div class="w3-display-topleft w3-black w3-padding">Administration</div>
                  <a href="{% url 'pompe:dashboard' %}"><img src="{% static 'pompe/img/index/admin.jpg' %}" alt="admin" style="width:100%;"/></a>
                </div>
            </div>
        </div>
    </section>
    <section>
      <div class="w3-container" >
        <div class="w3-panel w3-leftbar">
            <p><i class="fa fa-quote-right w3-xlarge"></i></p>
            <p><i class="w3-serif w3-xlarge">La science est un train que le mécanicien ne peut arrêter.</i></p>
            <p align="left">Frédéric Dard</p>
      </div>
    </div>
    </section>
    <footer>
   <div class="w3-container w3-dark-grey">
         <a href="mailto:nicolas.renard@univ-brest.fr?subject=[Support_Visiopompe]&body=*[Note]Merci d'ajouter une capture d'écran si possible*" class="w3-bar-item w3-button w3-mobile">
             <i class="fa fa-envelope"></i> Support</a><a href="{% url 'pompe:version' %}" class="w3-button w3-small w3-right w3-mobile"> Version</a>
    </div>
    </footer>
</div>
</body>
</html>

