{% load static %}
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'pompe/w3.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Inventaires</title>
</head>
<body>
<!----menu--->
{% include 'pompe/navbar.html' %}

<!---------Contenu------->
<div class="w3-main w3-mobile" style="margin-left:200px">
    <div class="w3-container w3-dark-grey">
        <h2> Gestions des Inventaires</h2>
    </div>
    <br>
    <section>
        <table class="w3-table w3-centered  w3-mobile" style="margin-left:10px; margin-right:10px;">
          <th>
                <tr class=" w3-green w3-text-black w3-striped">
                    <th><p>Tutelle</p></th>
                    <th><p>Numéro d'inventaire de pompes</p></th>
                    <th><p>Date de création</p></th>
                    <th><p></p></th>
                    <th><p>Modifier </p></th>
                    <th><p>Supprimer</p></th>
                </tr>
                <tr>
                     {% for inventaire in inventaires %}
                    <td><p>{{inventaire.tutelle.nom}}</p> </td>
                    <td><p>{{inventaire.numero}}</p></td>
                    <td><p>{{inventaire.date_inventaire}}</p></td>
                    <td><p>||</p></td>
                    <td><a href="{% url 'pompe:inventaire_edit' pk=inventaire.pk %}"><img src="{% static 'pompe/img/option/icons_edit.png' %}" style="width:40px;"></a></td>
                    <td><a href="{% url 'pompe:inventaire_delete' pk=inventaire.pk %}"><img src="{% static 'pompe/img/option/icons_delete.png' %}" style="width:40px;"></a></td>
                </tr>
                {% endfor %}
          </th>
        </table>
    </section>
    <br><br>
    <section>
    <div class="w3-row-padding">
        <div class="w3-col m4 s4 ">
            <div class="w3-card-2 w3-center w3-text-blue-gray">
                <header class="w3-container w3-red">
                    <h4>Formulaires</h4>
                </header>
                <div class="w3-container">
                    <p>formulaire ajout d'équipe</p>
                </div>
            </div>
        </div>
        <div class="w3-col m4 s4">
            <div class="w3-card-2 w3-center w3-text-blue-gray">
                <header class="w3-container w3-green">
                    <h4>Tutelles</h4>
                </header>
                <div class="w3-container">
                    {% for inventaire in tutelles %}
                    <p>{{inventaire.nom}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="w3-col m4 s4 ">
            <div class="w3-card-2 w3-center w3-text-blue-gray">
                <header class="w3-container w3-red">
                    <h4>Formulaires</h4>
                </header>
                <div class="w3-container">
                    <p>formulaire ajout de tutelles</p>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>

</body>
</html>