{% extends 'pompe/base.html' %}
{% load static %}

{% block title %}Inventaires des stocks{% endblock %}
{% block content %}
<div class="w3-main w3-mobile" style="margin-left:200px">
    <div class="w3-container w3-dark-grey">
        <h2> Gestions des Inventaires de stocks de pompes</h2>
    </div>
    <br>
    <section>
        <table class="w3-table w3-centered  w3-mobile" style="margin-left:10px; margin-right:10px;">
          <th>
                <tr class=" w3-green w3-text-black w3-striped">
                    <th><p>Tutelle</p></th>
                    <th><p>Numéro d'inventaire </p></th>
                    <th><p>Date de création</p></th>
                    <th><p></p></th>
                    <th><p>Modifier </p></th>
                    <th><p>Supprimer</p></th>
                </tr>
                <tr>
                     {% for inventaire in inventaires %}
                    <td><p>{{inventaire.tutelle.nom}}</p> </td>
                    <td><p>{{inventaire.numero}}</p></td>
                    <td><p>{{inventaire.date_inventaire}}</p></td>
                    <td><p>||</p></td>
                    <td><button class="w3-button" value="submit"><a href="{% url 'pompe:inventaire_edit' pk=inventaire.pk %}"><img src="{% static 'pompe/img/option/icons_edit.png' %}" style="width:40px;"/></a></button></td>
                    <td><form method="POST" action="{% url 'pompe:inventaire_delete' pk=inventaire.pk %}" onsubmit="return confirm('Etes-vous sur de vouloir effacer cette tutelle ?')">
                    {% csrf_token %}
                    <button class="w3-button " type="submit">
                        <img src="{% static 'pompe/img/option/icons_delete.png' %}" style="width:40px;"></button></form></td>
                </tr>
                {% endfor %}
          </th>
        </table>
    </section>
    <br><br>
    <section>
    <div class="w3-row-padding w3-mobile">
        <div class="w3-col m4 s4 ">
            <div class="w3-card-2 w3-center w3-text-blue-gray">
                <header class="w3-container w3-light-blue">
                    <h4>Ajoutez un numéro d'inventaire</h4>
                </header>
                <div class="w3-container">
                    <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table>{{form}}</table>
                    <button class="w3-button w3-green" type="submit" name="inventaire_form">Enregistrer</button>
                    <button class="w3-button w3-red"><a href="{% url 'pompe:inventaire' %}">Annuler</a></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="w3-col m4 s4">
            <div class="w3-card-2 w3-center w3-text-black">
                <header class="w3-container w3-light-green">
                    <h4>Tutelles</h4>
                </header>
                <div class="w3-container">
                    <table class="w3-table ">
                        {% for inventaire in tutelles %}
                        <tr>
                            <td class="w3-padding-16 w3-right">{{inventaire.nom}}</td>
                            <td class="w3-center"><form method="POST" action="{% url 'pompe:tutelle_delete' pk=inventaire.pk %}" onsubmit="return confirm('Etes-vous sur de vouloir effacer cette tutelle ?')">
                            {% csrf_token %}
                            <button class="w3-button" type="submit"><img src="{% static 'pompe/img/option/icons_delete.png' %}" style="width:50%;" /></button>
                            </form>
                        </td>
                             {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="w3-col m4 s4 ">
            <div class="w3-card-2 w3-center w3-text-blue-gray">
                <header class="w3-container w3-light-blue">
                    <h4>Ajoutez une tutelle budgétaire</h4>
                </header>
                <div class="w3-container">
                    <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table>{{form2}}</table>
                    <button class="w3-button w3-green" type="submit" name="tutelle_form">Enregistrer</button>
                    <button class="w3-button w3-red"><a href="{% url 'pompe:inventaire' %}">Annuler</a></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>
{% endblock %}