{% load static %}
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'pompe/w3.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Lieux</title>
</head>
<body>
<!----menu--->
{% include 'pompe/navbar.html' %}

<!---------Contenu------->
<div class="w3-main w3-mobile" style="margin-left:200px">
    <div class="w3-container w3-dark-grey">
        <h2>Gestions des Lieux</h2>
    </div>
    <br><br>
    <section>
        <table class="w3-table-all w3-centered w3-striped w3-mobile" style="margin-left:10px">
            <tr class="w3-grey w3-text-black">
                <th><p>Sites</p></th>
                <th><p>Bâtiment</p></th>
                <th><p>Etage</p></th>
                <th><p>Pièces</p></th>
            </tr>
            <tr>
                 {% for piece in pieces %}
                <td><p>{{piece.etage.batiment.site.nom}}</p> </td>
                <td><p>{{piece.etage.batiment.nom}}</p></td>
                <td><p>{{piece.etage.nom}}</p></td>
                <td><p>{{piece.nom}}</p></td>
            </tr>
            {% endfor %}
        </table>
        <tr><br></tr>
            <tr>
                <div class="w3-row-padding">
                    <div class="w3-col m3 s3">
                        <div class="w3-card-2 w3-center w3-text-blue-gray">
                            <header class="w3-container w3-amber">
                                <h4>Sites</h4>
                            </header>
                            <div class="w3-container">
                                <p>ajout</p>
                            </div>
                            <div class="w3-container">
                                <p>modifier</p>
                            </div>
                            <div class="w3-container">
                                <p>supprimer</p>
                            </div>
                            <footer>
                                <p></p>
                            </footer>
                        </div>
                    </div>
                    <div class="w3-col m3 s3">
                        <div class="w3-card-2 w3-center w3-text-blue-gray">
                            <header class="w3-container w3-amber">
                                <h4>Bâtiments</h4>
                            </header>
                            <div class="w3-container">
                                <p>ajout</p>
                            </div>
                            <div class="w3-container">
                                <p>modifier</p>
                            </div>
                            <div class="w3-container">
                                <p>supprimer</p>
                            </div>
                            <footer>
                                <p></p>
                            </footer>
                        </div>
                    </div>
                    <div class="w3-col m3 s3">
                        <div class="w3-card-2 w3-center w3-text-blue-gray">
                            <header class="w3-container w3-amber">
                                <h4>Etages</h4>
                            </header>
                            <div class="w3-container">
                                <p>ajout</p>
                            </div>
                            <div class="w3-container">
                                <p>modifier</p>
                            </div>
                            <div class="w3-container">
                                <p>supprimer</p>
                            </div>
                            <footer>
                                <p></p>
                            </footer>
                        </div>
                    </div>
                    <div class="w3-col m3 s3">
                        <div class="w3-card-2 w3-center w3-text-blue-gray">
                            <header class="w3-container w3-amber">
                                <h4>Pieces</h4>
                            </header>
                            <div class="w3-container">
                                <p>ajout</p>
                            </div>
                            <div class="w3-container">
                                <p>modifier</p>
                            </div>
                            <div class="w3-container">
                                <p>supprimer</p>
                            </div>
                            <footer>
                                <p></p>
                            </footer>
                        </div>
                    </div>
                </div>
            </tr>
        </table>
    </section>
</div>
</body>
</html>