{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'pompe/w3.css' %}">
    <link rel="stylesheet" href="{% static 'pompe/font-awesome.min.css' %}">
</head>
<body>
<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left " style="width:200px;" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large w3-hide-large w3-right" onclick="w3_close()">&times;</button>
    <img style="margin: 10px 4px 10px 10px; padding:4px;width:90%" src="{% static 'pompe/img/logo_app.png'%}" alt="logo_appavatar">
    <a href="{% url 'homepage' %}" class="w3-bar-item w3-button w3-mobile w3-red"><i class="fa fa-home"></i> Acceuil</a>

    <div class="w3-dropdown-hover">
    <button class="w3-button" onclick="myPumpFunc()"><i class="fa fa-arrow-right"></i> Pompes <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block" id="PUMP">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-arrow-circle-right"></i> Consulter</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-arrow-circle-right"></i> Créer Stock</a>
    </div></div>
    <div class="w3-dropdown-hover">
    <button class="w3-button" onclick="myPsdFunc()"><i class="fa fa-arrow-right"></i> Pièces détachées <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block" id="PSD">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-arrow-circle-right"></i> Consulter</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-arrow-circle-right"></i> Créer Stock</a>
    </div></div>
    <div class="w3-dropdown-hover">
    <button class="w3-button" onclick="myKitFunc()"><i class="fa fa-arrow-right"></i> Kits maintenance <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block" id="KIT">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-arrow-circle-right"></i> Consulter</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-arrow-circle-right"></i> Créer Stock</a>
    </div></div>
    <div class="w3-dropdown-hover">
     <button class="w3-button" onclick="myOilFunc()"><i class="fa fa-arrow-right"></i> Huiles<i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block" id="OIL">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-arrow-circle-right"></i> Consulter</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-arrow-circle-right"></i> Créer Stock</a>
    </div></div>
    <div class="w3-dropdown-hover">
    <button class="w3-button" onclick="myDocFunc()"><i class="fa fa-arrow-right"></i> Documentations <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block" id="DOC">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-arrow-circle-right"></i> Consulter</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-arrow-circle-right"></i> Ajouter un manuel</a>
    </div></div>
    <div class="w3-dropdown-hover" onclick="myAdminFunc()">
    <button class="w3-button"><i class="fa fa-arrow-right"></i> Administration  <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block" id="ADMIN">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-arrow-circle-right"></i> Dashboard</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-arrow-circle-right"></i> Créer Fiche Pompe</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-arrow-circle-right"></i> Créer Equipe</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-arrow-circle-right"></i> Créer un Lieux</a>
    </div></div>
<br/>
    <a href="mailto:nicolas.renard@univ-brest.fr?subject=[Support_Visiopompe]&body=*[Note]Merci d'ajouter une capture d'écran si possible*" class="w3-bar-item w3-button w3-mobile"><i class="fa fa-envelope"></i> Support</a>
    <a href="{% url 'pompe:version' %}" class="w3-button w3-small w3-right w3-mobile"> Version</a>

</div>
<button class="w3-button w3-grey w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>

<script>
function myAdminFunc() {
  var x = document.getElementById("ADMIN");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-green";
  } else {
    x.className = x.className.replace(" w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace(" w3-green", "");
  }
}
function myPumpFunc() {
  var x = document.getElementById("PUMP");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-green";
  } else {
    x.className = x.className.replace(" w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace(" w3-green", "");
  }
}
function myPsdFunc() {
  var x = document.getElementById("PSD");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-green";
  } else {
    x.className = x.className.replace(" w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace(" w3-green", "");
  }
}
function myKitFunc() {
  var x = document.getElementById("KIT");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-green";
  } else {
    x.className = x.className.replace(" w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace(" w3-green", "");
  }
}

function myOilFunc() {
  var x = document.getElementById("OIL");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-green";
  } else {
    x.className = x.className.replace(" w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace(" w3-green", "");
  }
}

function myDocFunc() {
  var x = document.getElementById("DOC");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-green";
  } else {
    x.className = x.className.replace(" w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace(" w3-green", "");
  }
}
</script>