{% extends 'pompe/base.html' %}
{% load static %}

{% block title %}Stocks de pièces détachées{% endblock %}
{% block content %}
<div class="w3-main w3-mobile" style="margin-left:200px">
    <div class="w3-container w3-dark-grey">
        <h2>Pièces détachées</h2>
    </div>
    <section class="w3-mobile w3-padding-24" style="margin-left:20px; margin-right:20px">
        <!--formulaire de filtrage-->

        <form class="d-flex">
            <div class="w3-container">
               <label for="recherche" class="form-label">Filtrer par Marque ou nom </label>
                 <i class="fa fa-search"></i>
                <input class="w3-input w3-border w3-padding " type="search" id="recherche" onkeyup="filtrePieceD()"
                       placeholder='Rechercher...' />
            </div>
        </form>

    </section>
     <div class="w3-container">
        {% if msg_erreur %}
        <div class=" w3-panel w3-red w3-round">
            <span onclick="this.parentElement.style.display='none'"
class="w3-button w3-display-topright">&times;</span>
            {{ msg_erreur }}
        </div>
        {% endif %}
        {% if msg_warning %}
        <div class="w3-panel w3-yellow w3-round">
            <span onclick="this.parentElement.style.display='none'"
class="w3-button w3-display-topright">&times;</span>
            {{ msg_warning }}
        </div>
        {% endif %}
        {% if msg_succes %}
        <div class="w3-panel w3-green w3-round w3-display-container" >
            <span onclick="this.parentElement.style.display='none'"
class="w3-button w3-display-topright">&times;</span>
            <p>{{ msg_succes }}</p>
        </div>
        {% endif %}
    </div>
    {% for piece in pieces %}
    <section class="w3-container w3-padding-16 w3-mobile" >
        <div class="w3-cell-row w3-border filtre">
            <div class="w3-col m3">
               {% if piece.image %}
                <img src="{{piece.image.url}}" class="w3-leftbar" alt="{{piece.nom}}" style="margin: 10px 4px 10px 10px; padding:4px;width:50%">
                {% else %}
                <img src="{% static 'pompe/img/noimage.jpg' %}" class="w3-leftbar" alt="no image" style="width: 50%"/>
                {% endif %}
            </div>
            <div class="w3-col m5">
                <p class="w3-leftbar nom" style="font-size: 20px; "><strong>NOM</strong> : {{piece.nom}} </p>
                <p class="w3-leftbar marque" style="font-size: 20px; "><strong>MARQUE</strong> : {{piece.fabriquant.nom}}</p>
                <p style="font-size: 16px;">Date de mise à jour : <i>{{piece.date_maj}}</i></p>
                <p style="font-size: 16px;">Informations complémentaires : <i>{{piece.information}}</i></p>
            </div>
            <div class="w3-col m3">
                <br/>
                <p class="w3-leftbar">&nbsp;<img src="{% static 'pompe/img/menu_pompe/icon_quantite.png' %}" alt="quantite" style="width: 15%" />
                <i class="fa fa-chevron-right" style="font-size : 18px">&nbsp;<strong>{{piece.quantite }}</strong></i> stock(s)</p>
                <br>
                <p class="w3-leftbar">&nbsp;<img src="{% static 'pompe/img/menu_pompe/icon_localisation.png' %}" alt="geolocalisation" style="width: 13%" />
                {% if piece.piece.etage.nom %}<i class="fa fa-chevron-right" style="font-size : 18px"> <strong>{{piece.piece.etage.nom}}</strong>{% endif %}</i>
                   {% if piece.piece %} &nbsp<i class="fa fa-chevron-right" style="font-size : 18px"><strong>&nbsp{{piece.piece}}</strong>{% endif %}</i></p>
            </div>
            <div class="w3-col m1">
                <button class="w3-button"><a href="{% url 'pompe:pdetache_edit' pk=piece.pk %}"><img src="{% static 'pompe/img/option/icons_edit.png' %}" style="width:40px;" /></a></button>
                <form method="POST" action="{% url 'pompe:pdetache_delete' pk=piece.pk %}" onsubmit="return confirm('Etes-vous sur de vouloir effacer cette référence ?')">
                {% csrf_token %}
                <button class="w3-button" type="submit"><img src="{% static 'pompe/img/option/icons_delete.png' %}" style="width:40px;" /></button>
                </form>
            </div>
        </div>
    </section>
    {% endfor %}
    <section class="w3-container w3-mobile">
       <div class="w3-panel w3-display-container">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Réparateurs</h3>
            <p><a href="http://www.sofintec.fr/"><img src="http://sofintec.fr/wp-content/uploads/2022/11/Logo-Sofintec.png" alt="logo_sofintec" style="width: 12%"></a>&nbsp
            <a href="https://chaplain.fr/"><img src="https://chaplain.fr/wp-content/uploads/2019/04/CHAPLAINz.png" style="width: 12%" alt="logo_chapelain"/></a></p>
       </div>
    </section>
    <section class="w3-container w3-mobile">
            <div class="w3-panel w3-leftbar w3-display-container">
                <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">x</span>
                <p><i class="fa fa-quote-right w3-large"></i></p>
                <p><i class="w3-serif w3-large">“On ne peut réparer ce qui est déjà en bonne santé...”</i></p>
                <p align="left">Maoude Reboot</p>
            </div>
    </section>
</div>
{% endblock %}

{% block js_script %}
<script src="{% static 'pompe/js/filtres.js' %}"></script>
{% endblock %}