{% extends 'pompe/base.html' %}
{% load static %}

{% block title %}Stock des Pompes{% endblock %}
{% block content %}
<!----menu recherche par filtre---->
<section class="w3-main w3-mobile" style="margin-left:200px">
    <div class="w3-container w3-dark-grey">
        <h2>Pompes</h2>
    </div>
<br />
    <div class="w3-container w3-light-gray w3-padding-12" >
        <form action="{% url 'pompe:pompe' %}" method="GET">
            <br />
            {{filterpompe.form.as_table}}
            <!----https://github.com/carltongibson/django-filter/issues/1023--->
            <button type="submit"><i class="fa fa-search"></i></button>
            </form>
    </div>

    <!---Stock pompe--->
    <div class="w3-container w3-padding-32 w3-mobile">
        {% for pompe in s_pompes %}
        <div class="w3-container w3-display-container ">
            <p class="w3-bottombar" style="font-size: 20px; "><strong>NOM</strong> : {{pompe.pompe.nom}}
                - <strong style="font-size: 18px;">MODELE</strong> : {{pompe.pompe.modele}}
                - <strong style="font-size: 18px;">MARQUE</strong> : {{pompe.pompe.fabriquant.nom}}
                {% if pompe.atex %}
                <img src="{% static 'pompe/img/menu_pompe/icon_atex.png' %}" alt="pompe atex" style="width: 3%;" class="w3-display-topright" />
                {% endif %}
            </p>
        </div>
        <div class="w3-container">
            <!----section image--->
            <table class=" w3-table w3-reponsive" >
                <tr>
                    <td class="w3-col m2 s2">
                    {% if pompe.pompe.image %}
                    <img src="{{pompe.pompe.image.url}}" alt="{{pompe.nom}}" style="width: 90%; display: block;" />
                    {% else %}
                    <img src="{% static 'pompe/img/noimage.jpg' %}" alt="no image" style="width: 100%">
                    {% endif %}
                    </td>
                    <td class="w3-center w3-col m9 s9">
                        <table class="w3-table">
                        <tr>
                            <td><!---genere l'image en fonction du statut pompe.statut---->
                            <span class="w3-leftbar" > Statut : {% if pompe.statut == 'A' %}<img src="{% static 'pompe/img/menu_pompe/icon_statut_actif.png' %}" alt="pompe en service" />
                            {% elif pompe.statut == 'R' %}<img src="{% static 'pompe/img/menu_pompe/icon_reparation.png' %}" alt="pompe en réparation" />
                            {% elif pompe.statut == 'P' %}<img src="{% static 'pompe/img/menu_pompe/icon_enpanne.png' %}" alt="pompe hors service" />
                            {% else %}<img src="{% static 'pompe/img/menu_pompe/icons_stockage.png'%}" alt="pompe en stock" />
                            {% endif %}</span>
                        </td>
                        <td>
                             <img src="{% static 'pompe/img/menu_pompe/icon_localisation2.png' %}" alt="icon localisation" />
                            &nbsp;Localisation :<br/>
                            {{pompe.etage.batiment.nom }} <i class="fa fa-chevron-right"></i> {{pompe.etage.nom}}&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;{{pompe.piece.nom}}
                             {% if pompe.place %}<i class="fa fa-chevron-right"></i>{{pompe.place}}
                             {% endif %}
                        </td>
                        <td>
                            <img src="{% static 'pompe/img/menu_pompe/icon_vidange.png' %}" alt="icon date de vidange"/>&nbsp;Prochaine Vidange:
                            {% if current_date > pompe.vidange %}<strong class="w3-tag w3-padding w3-round-large w3-red w3-center w3-text-black">{{pompe.vidange}}</strong>
                            {% elif current_date == pompe.vidange %}<strong class="w3-tag w3-padding w3-round-large w3-yellow w3-center w3-text-black">{{pompe.vidange|date:"SHORT_DATE_FORMAT"}}</strong>
                            {% elif pompe.vidange <= warning_date %}<strong class="w3-center w3-text-orange">{{pompe.vidange|date:"SHORT_DATE_FORMAT"}}</strong>
                            {% else %} <strong class="w3-center w3-text-green">{{pompe.vidange|date:"SHORT_DATE_FORMAT"}}  - {{date_format}}</strong>
                            {% endif %}
                        </td>
                            </tr>
                        </table>
                    </td>
                    <td class="w3-col m1 s1 w3-right">
                        <button class="w3-button"><a href="{% url 'pompe:pompe_edit' pk=pompe.pk %}"><img src="{% static 'pompe/img/option/icons_edit.png' %}" class="w3-hover-opacity w3-right" style="width: 80%;" alt="icon editer"/></a></button>
                        <form method="POST" action="{% url 'pompe:pompe_delete' pk=pompe.pk %}" onsubmit="return confirm('Etes-vous sur de vouloir effacer cette pompe ?')">
                        {% csrf_token %}
                        <button class="w3-button" value="submit"><img src="{% static 'pompe/img/option/icons_delete.png' %}" class="w3-hover-opacity w3-right" style="width: 80%; " alt="icon supprimer"/></button></form>
                    </td>
                </tr>
            </table>
        </div>
            <!----section caracteristiques--->
        <div class="w3-container w3-cell-row w3-leftbar">
            <div class="w3-container w3-cell w3-mobile">
                    <p><img src="{% static 'pompe/img/menu_pompe/icon_miseenservice.png' %}" alt="icon  date mise en service"/>&nbsp;Mise en service : {{pompe.mise_en_service|date:"SHORT_DATE_FORMAT"}}</p>
                    <p><img src="{% static 'pompe/img/menu_pompe/icon_numeroserie.png' %}" alt="icon numero de série"/>&nbsp;N° de série : {{pompe.num_serie}}</p>
                    <p><img src="{% static 'pompe/img/menu_pompe/icon_code_umr.png' %}" alt="icon code umr" /> N° d'inventaire :
                        {% if pompe.inventaire.id  %}{{pompe.inventaire.numero}}
                        {% else %}<span class="w3-tag w3-padding w3-round-large w3-red w3-center"><i class="fa fa-exclamation-triangle "></i></span>
                        {% endif %}
                    </p>
            </div>
            <div class="w3-container w3-cell w3-mobile">
                    <p><img src="{% static 'pompe/img/menu_pompe/icon_phasage.png' %}" alt="icon phasage pompe" />&nbsp;Phase : {{pompe.pompe.phasage}}</p>
                    <p><img src="{% static 'pompe/img/menu_pompe/icon_puissance.png' %}" alt="icon puissance pompe"/>&nbsp;Puissance : {{pompe.pompe.puissance}}</p>
                    <p><img src="{% static 'pompe/img/menu_pompe/icon_etage.png'%}" alt="pompe_nb_etage"/>&nbsp;Technologie :
                        {{pompe.pompe.technologie.nom}}
                        {% if pompe.pompe.technologie.cara_1%}|{{pompe.pompe.technologie.cara_1}}{% endif%})
                        {% if pompe.pompe.technologie.cara_2 %}
                            -{{pompe.pompe.technologie.cara_2}}
                        {% endif%})</p>
            </div>
            <div class="w3-container w3-cell w3-mobile">
                    <p><img src="{% static 'pompe/img/menu_pompe/icon_vidangeurgente.png' %}" alt="icon huile" />&nbsp;Huile : {% if pompe.huile %}{{pompe.huile}}{% endif %}</p>
                    <p><img src="{% static 'pompe/img/menu_pompe/icon_vide.png' %}" alt="icon vide" />&nbspVide théorique : {{pompe.pompe.vide_theo |stringformat:".0e"}} mbars</p>
                    <p><img src="{% static 'pompe/img/menu_pompe/icon_vide.png' %}" alt="icon vide" /> <strong>Vide testé </strong>: {{pompe.vide_user |stringformat:".0e"}} mbars</p>
            </div>
        </div>
                <!----section info supplementaire--->
            <div class="w3-container w3-cell-row w3-leftbar ">
                    <h5><img src="{% static 'pompe/img/menu_pompe/icon_information.png' %}" style="width: 30px;" alt="icone point information"/> <u> Historique :</u></h5>
                <p> <i>Dernier enregistrement :</i>  {{pompe.historique}} <a href="{% url 'pompe:historic' pk=pompe.pk %}" class="w3-hover-opacity w3-right" >
                    <img src="{% static 'pompe/img/option/icons_history.png' %}" style="width: 70%;" alt="icon historique"/></a></p>

            </div>
            {% endfor %}
    </div>

</section>
    <!----section citation--->
    <section class="w3-main w3-mobile" style="margin-left:200px">
            <div class="w3-container" >
                <div class="w3-panel w3-leftbar w3-display-container">
                    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">x</span>
                    <p><i class="fa fa-quote-right w3-large"></i></p>
                    <p><i class="w3-serif w3-large">“Le son de la pompe qui grince est aussi nécessaire que la musique des sphères.”</i></p>
                    <p align="left">Henry David Thoreau</p>
                </div>
            </div>
    </section>
{% endblock %}