{% extends 'pompe/base.html' %}
{% load static %}

{% block title %}Version de l'application{% endblock %}
{% block content %}
<div class="w3-main w3-mobile" style="margin-left:200px">
    <div class="w3-container w3-dark-grey">
        <h2>Version de l'application</h2>

    </div>
    <section class="w3-container w3-padding-32 w3-mobile ">
    {% for version in versions %}
      <p><u>Version :</u><strong>  {{version.version}}</strong></p>
      <p><u>Date :</u>  {{version.date_version}}</p>
      <p><u>Mise(s) à jour :</u> <strong>Majeur :</strong> {{version.majeur}} - <strong>Mineur :</strong> {{version.mineur}} - <strong>Bugs :</strong> {{version.bug}}</p>
      <p><u>Information :</u> {{version.texte}}</p>
        <p class="w3-border-bottom" ></p>
        {% endfor %}

    </section>
</div>
{% endblock %}